.Easy {
  color: green;
}

.Medium {
  color: orange;
}

.Hard {
  color: red;
}

.scroll-list {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
}

.scroll-list-sm {
  height: 300px;
  max-height: 300px;
}

.question-body {
  min-height: 100px;
}
